body {
  background-color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
}
header {
  background-color: #B3B3B3;
}
ul {
  margin-top: -7px;
  list-style-type: none;
  background-color: #73cbff;
}
li {
  display: inline;
}
li a{
  display: inline-block;
  line-height: 1.5;
  margin-right: 180px;
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
  font-family: cursive;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #00008B;
}
main {
  background-color: yellow;
}
footer {
  background-color: #B3B3B3;
}
img {
  clear: both;
}
p {
  line-height: 1;
}